<!DOCTYPE html>
<html>
<head>
  <title>c13iscuit's film index</title>
  <link href="styling.css" media="screen" rel="stylesheet"/>
</head>
<body>
<h1>Films</h1>
<div>
<%@films_array.each do |film|
  if film[:movie_id] == params["movie_id"]%>
      <p>Title: <%="#{film[:title]}"%></p>
      <p>Year: <%="#{film[:year]}"%></p>
      <p>Synopsis: <%="#{film[:syn]}"%></p>
      <p>Rating: <%="#{film[:rating]}"%></p>
      <p>Genre: <%="#{film[:genre]}"%></p>
      <p>Studio: <%="#{film[:studio]}"%></p>
  <%end
end%>
</div>
  <br>
  <div class = "bottom">
  <br>
  <br>
  <form action="/movies" method="get">
    <label for="query">Search: </label>
    <input type="text" name="query" id="query" />
    <input type="submit" value="Search" />
    <br>
    <br>
    <a href = "/movies">Home</a>
  </form>
</div>
</body>
</html>
